[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
datasette = "==0.28"
dateparser = "==0.7.1"
requests-html = "==0.10.0"

[dev-packages]

[requires]
python_version = "3.6"
