-i https://pypi.org/simple
aiofiles==0.4.0
appdirs==1.4.3
beautifulsoup4==4.7.1
bs4==0.0.1
certifi==2019.3.9
chardet==3.0.4
click-default-group==1.2
click==7.0
cssselect==1.0.3
datasette==0.28
dateparser==0.7.1
fake-useragent==0.1.11
httptools==0.0.13
hupper==1.0
idna==2.8
importlib-metadata==0.15
jinja2==2.10.1
lxml==4.3.3
markupsafe==1.1.1
parse==1.12.0
pint==0.8.1
pluggy==0.12.0
pyee==6.0.0
pyppeteer==0.0.25
pyquery==1.4.0
python-dateutil==2.8.0
pytz==2019.1
regex==2019.5.25
requests-html==0.10.0
requests==2.22.0
sanic==0.7.0
six==1.12.0
soupsieve==1.9.1
tqdm==4.32.1
tzlocal==1.5.1
ujson==1.35
urllib3==1.25.3
uvloop==0.12.2
w3lib==1.20.0
websockets==7.0
zipp==0.5.1
